In [7]:
#문1 나의이름은: 홍길동 나의 나이는: 100 나의 성별은 : 남 나의 좌우명은: 열심히 살자
name=input("나의 이름은 ")
age=int(input("나의 나이는 "))
age1= age+1
gender=input("나의 성별은 ")
motto=input("나의 좌우명은 ")

print("========================")
print("나는 ", name, "이고, 내 나이는 ", age, "세, 내년 나이는 ", age1, "세가 될 예정이고, ",1
      "나는 ", gender,", 나는 ", motto, "!가 내 좌우명!" )

나의 이름은 홍길동
나의 나이는 100
나의 성별은 남
나의 좌우명은 열심히 살자
========================
나는  홍길동 이고, 내 나이는  100 세, 내년 나이는  101 세가 될 예정이고,  나는  남 , 나는  열심히 살자 !가 내 좌우명!

In [19]:
#문2 55부터 100까지 2씩 점프한 값을 출력
for i in range(55, 101, 2):
  print(i)

55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [31]:
#문3 홍길동 김길동 송길동 박길동 정길동 (계속 입력) x 또는 X를 입력 받으면 입력을 멈춤. 
#다음과 같이 출력 : 첫번째 선수는 홍길동, 세번째 선수는 송길동
name=[]
while True:
  data= input("이름 : ")
  if data == "x" or data == "X":
    print("입력 멈춤")
    break
  else:
    name.append(data)
    
print("첫번째 선수는 ", name[0], ", 세번째 선수는 ", name[2] )

이름 : 홍길동
이름 : 김길동
이름 : 송길동
이름 : 박길동
이름 : 정길동
이름 : X
입력 멈춤
첫번째 선수는  홍길동 , 세번째 선수는  송길동